In [2]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
import numpy as np
izero = np.r_[-1, (df['X'] == 0).nonzero()[0]] # indices of zeros
izero
idx = np.arange(len(df))
idx
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [3]:
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

In [4]:
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
s = pd.Series(np.random.rand(len(dti)), index=dti)
dti
s

2015-01-01    0.405194
2015-01-02    0.837192
2015-01-05    0.788918
2015-01-06    0.130469
2015-01-07    0.577024
2015-01-08    0.998239
2015-01-09    0.103913
2015-01-12    0.409205
2015-01-13    0.700829
2015-01-14    0.552033
2015-01-15    0.476005
2015-01-16    0.449477
2015-01-19    0.756310
2015-01-20    0.031765
2015-01-21    0.828346
2015-01-22    0.881750
2015-01-23    0.301766
2015-01-26    0.172515
2015-01-27    0.089748
2015-01-28    0.103781
2015-01-29    0.998056
2015-01-30    0.393436
2015-02-02    0.480534
2015-02-03    0.722841
2015-02-04    0.481230
2015-02-05    0.596779
2015-02-06    0.407574
2015-02-09    0.766632
2015-02-10    0.618386
2015-02-11    0.355656
                ...
2015-11-20    0.707563
2015-11-23    0.270680
2015-11-24    0.577628
2015-11-25    0.050533
2015-11-26    0.843826
2015-11-27    0.771004
2015-11-30    0.229020
2015-12-01    0.738483
2015-12-02    0.777895
2015-12-03    0.553475
2015-12-04    0.521622
2015-12-07    0.259308
2015-12-08    0.349898
2015-12-09    0.534437
2015-12-10    0.926906
2015-12-11    0.066400
2015-12-14    0.824025
2015-12-15    0.600597
2015-12-16    0.496797
2015-12-17    0.717163
2015-12-18    0.358267
2015-12-21    0.096174
2015-12-22    0.748848
2015-12-23    0.770849
2015-12-24    0.193326
2015-12-25    0.160361
2015-12-28    0.070554
2015-12-29    0.309224
2015-12-30    0.483381
2015-12-31    0.681008
Freq: B, Length: 261, dtype: float64

In [5]:
s

2015-01-01    0.405194
2015-01-02    0.837192
2015-01-05    0.788918
2015-01-06    0.130469
2015-01-07    0.577024
2015-01-08    0.998239
2015-01-09    0.103913
2015-01-12    0.409205
2015-01-13    0.700829
2015-01-14    0.552033
2015-01-15    0.476005
2015-01-16    0.449477
2015-01-19    0.756310
2015-01-20    0.031765
2015-01-21    0.828346
2015-01-22    0.881750
2015-01-23    0.301766
2015-01-26    0.172515
2015-01-27    0.089748
2015-01-28    0.103781
2015-01-29    0.998056
2015-01-30    0.393436
2015-02-02    0.480534
2015-02-03    0.722841
2015-02-04    0.481230
2015-02-05    0.596779
2015-02-06    0.407574
2015-02-09    0.766632
2015-02-10    0.618386
2015-02-11    0.355656
                ...
2015-11-20    0.707563
2015-11-23    0.270680
2015-11-24    0.577628
2015-11-25    0.050533
2015-11-26    0.843826
2015-11-27    0.771004
2015-11-30    0.229020
2015-12-01    0.738483
2015-12-02    0.777895
2015-12-03    0.553475
2015-12-04    0.521622
2015-12-07    0.259308
2015-12-08    0.349898
2015-12-09    0.534437
2015-12-10    0.926906
2015-12-11    0.066400
2015-12-14    0.824025
2015-12-15    0.600597
2015-12-16    0.496797
2015-12-17    0.717163
2015-12-18    0.358267
2015-12-21    0.096174
2015-12-22    0.748848
2015-12-23    0.770849
2015-12-24    0.193326
2015-12-25    0.160361
2015-12-28    0.070554
2015-12-29    0.309224
2015-12-30    0.483381
2015-12-31    0.681008
Freq: B, Length: 261, dtype: float64

In [6]:
s[s.index.weekday==2].sum()

23.650078550088015

In [7]:
s.resample('M').mean()

2015-01-31    0.499362
2015-02-28    0.505905
2015-03-31    0.455481
2015-04-30    0.489681
2015-05-31    0.406192
2015-06-30    0.603457
2015-07-31    0.518744
2015-08-31    0.532572
2015-09-30    0.376085
2015-10-31    0.495928
2015-11-30    0.557659
2015-12-31    0.488652
Freq: M, dtype: float64

In [8]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-08
2015-05-31   2015-02-23
2015-09-30   2015-08-27
2016-01-31   2015-11-10
dtype: datetime64[ns]